@*@model IEnumerable<HMS.DTO.RoleStore>*@
@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>Role Id</th>
            <th>Role Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
              
                <td>@item.Id</td>
                <td>@item.Name</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                  
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Admin" asp-action="GetUsers" class="btn btn-primary">Get All Users</a>
</div>


